# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Test/cache files
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Flask runtime files
app/instance/
instance/

# Linux / WSL virtual environment
.venv-linux/